/* Globals*/

body {
  /* background-color: #354550; */
  background-image: url(/images/BG8.jpg);
  /* background-image: linear-gradient(to top, #F5F5F5, #E2E5DE); */
  /* background-image: linear-gradient(to top, #5ce5d5, #F5F5F5); */
  color: #aaec64;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  /* text-shadow: 0 .05rem .1rem rgba(246, 90, 91);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
  text-align: center;
}

.px-3 {
  padding-top: 10px;


}

.heading {
  margin-top: 10px;
}


.lead {
  font-size: 18px;
  color: #F5F5F5;
  margin-bottom: 0px;
  /* text-shadow: 0 .05rem .1rem rgba(246, 90, 91); */

}

.about-us {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  padding-left: 600px;
  padding-right: 600px;
}

.contact-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.player {
  /* margin-top: 50px;
  margin-bottom: 50px; */
}

.about {
  font-size: 16px;
  text-align: center;
  display: block;
  padding-left: 600px;
  padding-right: 600px;
  line-height: 1.5;
}

.foot {
  margin-top: ;
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.nav-link:hover {
  color: #aaec64;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.nav-link:hover {
  color: #aaec64;
}

.logo {
  width: 25%;
  animation-name: spin;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes spin {
  to {
    transform: rotate(260deg);
  }
}


/*
 * Base structure
 */
.lead {
padding-bottom: 50px;
}



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 300px) {
  .player {
    width: 100%;
    height: auto;
  }
}

.cover-container {
  max-width: 42em;
}

.mb-auto {
  padding-top: 50px;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #F5F5F5;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #F5F5F5);
  color: #aaec64;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #F5F5F5;
  border-bottom-color: #F5F5F5;
}
